{
    "exchange_name": "binance",
    "symbols": ["TAO/USDT", "BTC/USDT", "ETH/USDT", "XRP/USDT", "ADA/USDT"],
    "telegram_token": "7488441527:AAGTVhhaXIglh94t9dTLWOAlaxHMELsWi9c",
    "chat_id": "192218810",
    "update_interval": 60
}